<div class="row">
    <div class="small-12 columns">

        <h1>Dennis' fcking awesome readme reader!</h1>
        <hr/>
        <p>Select a Generator:</p>
        <select ng-model="index.generator"
                ng-change="index.fetchReadme()"
                ng-options="generator as generator.slug for generator in index.generators">
            <option value="">- Select a Generator -</option>
        </select>
        <hr/>
        <pre ng-show="index.generator"><code>$ yo {{index.generator.name}}</code></pre>
        <p ng-show="index.generator">This generator uses the following other generators:</p>
        <span ng-show="index.generator" ng-repeat="otherGenerator in index.generator.uses track by $index">{{otherGenerator}}</span>
        <p ng-show="index.generator">Tags:</p>
        <span ng-show="index.generator" class="label" ng-repeat="tag in index.generator.tags track by $index">{{tag}} </span>


    </div>
    <div ng-show="index.markdown" class="small-12 columns">
        <h4>readme.md fetched from Github:</h4>
        <div btf-markdown="index.markdown"></div>
    </div>
</div>